body{
    background-image: url(../images/margiela.logo.gif);
    background-position: center;
    background-repeat: repeat-x;
}

div{
    text-align: center;
}


h1{
    text-align: center;
    color:cornsilk;
    background-color:black
}

h3{
    text-align: center;
    color:darkblue;
    background-color:aliceblue;
}